*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster Two', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 100px;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.main{
    background: url("../images/background-h.jpg");
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}
.main h1{
    font-size: 4rem;
    font-weight: 400;
    color: white;
}
.btn1{
    height: 45px;
    width: 10%;
    border: none;
    outline: none;
    background-color: rgb(39, 236, 39);
    border-radius: 60px;
    font-weight: 700;

}/*
.choosen{
    display: none;
}
.person{
    display: none;
}
.proceed{
    display: none;
}